.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts
.direnv/

# OpenCode local state
.opencode/
**/.npmrc
*.tgz
nul

# Local dev files
opencode-dev
logs/
*.bun-build
